@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/*COLOURS*/
/*VALUES*/
#card1 .card-profile__img, #card2 .card-profile__img, #card3 .card-profile__img, #card4 .card-profile__img, #card5 .card-profile__img, #card6 .card-profile__img {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 200px;
  height: 200px;
  background: #C4C4C4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#card1 .card-profile__name, #card2 .card-profile__name, #card3 .card-profile__name, #card4 .card-profile__name, #card5 .card-profile__name, #card6 .card-profile__name {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #D3573C;
  line-height: 47px;
  font-size: 36px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card1 .card-info__location, #card2 .card-info__location, #card3 .card-info__location, #card4 .card-info__location, #card5 .card-info__location, #card6 .card-info__location {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 17px;
  font-size: 13px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  position: relative;
  background: #ffffff;
}

main {
  height: 240vh;
}

ul {
  list-style-type: none;
  /*width: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.logo {
  position: absolute;
  width: 150px;
  height: 37.5px;
  left: 20px;
  top: 40px;
}

.home-first-heading {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  width: 119px;
  height: 18px;
  left: 234px;
  top: 50px;
}

header nav {
  position: absolute;
  width: 285px;
  height: 50px;
  left: 39px;
  top: 109px;
}

header nav #tag-link--portrait {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 68px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

header nav #tag-link--art {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 41px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

header nav #tag-link--fashion {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 68px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

header nav #tag-link--architecture {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 92px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

header nav #tag-link--travel {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 58px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

header nav #tag-link--sport {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 55px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

header nav #tag-link--animals {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 65px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

header nav #tag-link--events {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 63px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
  margin-top: 5px;
}

#card1 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 205px;
  left: 88px;
}

#card1 .card-profile__img {
  -o-object-position: 70% 0%;
     object-position: 70% 0%;
}

#card1 .card-profile__name {
  position: absolute;
  left: 10.5%;
  right: 10%;
  top: 70.97%;
  bottom: 13.87%;
}

#card1 .card-info__location {
  position: absolute;
  left: 33.5%;
  right: 33%;
  top: 86.13%;
  bottom: 8.39%;
}

#card1 .card-info__quote {
  position: absolute;
  left: 32px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card1 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card1 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: -28px;
}

#card1 .card-tags #mimi-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 64px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card1 .card-tags #mimi-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 59px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card1 .card-tags #mimi-tag3 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 54px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card1 .card-tags #mimi-tag4 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 62px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

#card2 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 576px;
  left: 88px;
}

#card2 .card-profile__name {
  position: absolute;
  left: -25%;
  right: -25.5%;
  top: 70.97%;
  bottom: 13.87%;
  width: 301px;
}

#card2 .card-info__location {
  position: absolute;
  left: 31%;
  right: 31%;
  top: 86.13%;
  bottom: 8.39%;
  width: 76px;
}

#card2 .card-info__quote {
  position: absolute;
  left: 4px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
  width: 192px;
}

#card2 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card2 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*width: 100vw;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card2 .card-tags #ellie-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 58px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card2 .card-tags #ellie-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 88px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

#card3 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 947px;
  left: 88px;
}

#card3 .card-profile__name {
  position: absolute;
  left: -7%;
  right: -7.5%;
  top: 70.97%;
  bottom: 13.87%;
  width: 229px;
}

#card3 .card-info__location {
  position: absolute;
  left: 24%;
  right: 23.5%;
  top: 86.13%;
  bottom: 8.39%;
  width: 105px;
}

#card3 .card-info__quote {
  position: absolute;
  left: 48px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
  width: 105px;
}

#card3 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card3 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*width: 100vw;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card3 .card-tags #tracy-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 39px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card3 .card-tags #tracy-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 61px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card3 .card-tags #tracy-tag3 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 54px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

#card4 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 1318px;
  left: 88px;
  /*Il faut ajouter 371px à chaque fois pour le top*/
}

#card4 .card-profile__name {
  position: absolute;
  left: -17.5%;
  right: -17.5%;
  top: 70.97%;
  bottom: 13.87%;
  width: 272px;
}

#card4 .card-info__location {
  position: absolute;
  left: 20.5%;
  right: 20%;
  top: 86.13%;
  bottom: 8.39%;
  width: 119px;
}

#card4 .card-info__quote {
  position: absolute;
  left: 41px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
  width: 119px;
}

#card4 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card4 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*width: 100vw;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card4 .card-tags #nabeel-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 52px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card4 .card-tags #nabeel-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 67px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

#card5 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 1689px;
  left: 88px;
  /*Il faut ajouter 371px à chaque fois pour le top*/
}

#card5 .card-profile__name {
  position: absolute;
  left: -8%;
  right: -8.5%;
  top: 70.97%;
  bottom: 13.87%;
  width: 234px;
}

#card5 .card-info__location {
  position: absolute;
  left: 25.5%;
  right: 25%;
  top: 86.13%;
  bottom: 8.39%;
  width: 99px;
}

#card5 .card-info__quote {
  position: absolute;
  left: 50px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
  width: 101px;
}

#card5 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card5 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*width: 100vw;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card5 .card-tags #rhode-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 51px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card5 .card-tags #rhode-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 60px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card5 .card-tags #rhode-tag3 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 56px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card5 .card-tags #rhode-tag4 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 62px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

#card6 {
  position: absolute;
  position: absolute;
  width: 200px;
  height: 310px;
  top: 2060px;
  left: 88px;
  /*Il faut ajouter 371px à chaque fois pour le top*/
}

#card6 .card-profile__name {
  position: absolute;
  left: -7.5%;
  right: -7.5%;
  top: 70.97%;
  bottom: 13.87%;
  width: 232px;
}

#card6 .card-info__location {
  position: absolute;
  left: 26.5%;
  right: 26%;
  top: 86.13%;
  bottom: 8.39%;
  width: 95px;
}

#card6 .card-info__quote {
  position: absolute;
  left: 17px;
  top: 287px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 13px;
  font-size: 10px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
  width: 167px;
}

#card6 .card-info__price {
  position: absolute;
  width: 45px;
  height: 12px;
  left: 78px;
  top: 303px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 12px;
  font-size: 9px;
  font-weight: normal;
  /* la line-height doit être la mm que la box height */
}

#card6 .card-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*width: 100vw;*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 104.19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card6 .card-tags #marcel-tag1 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 53px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}

#card6 .card-tags #marcel-tag2 {
  display: inline-block;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 0.8px;
  width: 88px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */