#lightbox-modal{
    display: none;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 6;
    color: $darkColor;
    align-items: center;
    justify-content: center;
    border-radius: $littleRadius;
}

#lightbox-btn{
    &__close{
        @include clickable-iconsTR(35.2%, 6.26%, inherit);
        @include font(inherit, 1rem, 1rem, normal);
    }
    &__previous{
        @include clickable-iconsTL(49.2%, 6.9%, inherit);   
        @include font(inherit, 1rem, 1rem, normal);
    }
    &__next{
        @include clickable-iconsTR(49.2%, 6.9%, inherit);   
        @include font(inherit, 1rem, 1rem, normal);
    }
}

.lightbox-media{
        width: 77%;
        height: 30.54%;
            &__title{
            @include font($darkColor, 1.13rem, .88rem, normal);
            text-align: left;
            margin-top: 0;
            width: 93.85%;
            transform: translateX(3.07%);
        }
        &__image, &__video{
            width: 100%;
            height: 100%;
            -o-object-fit:cover;
            object-fit:cover;
            border-radius: $littleRadius;
        }
}