/*classes pour montrer ou cacher la lightbox*/

.lightbox{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 10;
}

//boutons de la lightbox
.fas{
    color: $darkColor;
}

.fa-times{
    cursor: pointer;
}

.lightbox-btn{
    cursor: pointer;
    &__close{
        position: absolute;
        top: 35.2%;
        right: 6.26%;
    }
    &__previous{
        position: absolute;
        top: 49.2%;
        left: 6.9%;
    }
    &__next{
        position: absolute;
        top: 49.2%;
        right: 6.9%;
    }
}

.lightbox-container{
    width: 77.31%;
    height: 30.5%;
    align-self: center;
    position: absolute;
    top: 34.7%;
  }

//video ou image de la lightbox
.lightbox-media{
    display: none;
}

.lightbox-showed{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .3rem;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}

.lightbox-title{
    @include font($darkColor, 18px, 14px, normal);
    text-align: left;
    position: absolute;
    left: 11.47%;
    right: 14%;
    top: 66.13%;
    bottom: 31.65%;
}