/*700px
remonter la nav au mm niveau que le logo et le h1*/
@media screen and (min-width: 800px){
    header{
        flex-direction: row;
        justify-content: space-between;
        width: 70.6%;
        .logo{
            width: 12.5rem;
            height: 3.13rem;
        }
        nav{
            position: absolute;
            left: 50%;
            max-width: 400px;
            transform: translateX(-50%);
            //margin-right: auto;
            margin-top: 0;
            width: 100%;
        }
    }
    #sorting-form{
        display: block;
    }
    #sorting-options{
        background-color: $darkColor;
        @include font(white, 23.44px, 18px, normal);
        border-radius: 5px;
        width: 170px;
        height: 55px;
        cursor: pointer;
        border: none;
        .sorting-option[disabled]{
            display: none;
        }
        /*.sorting-option{
            width: 170px;
            height: 55px;
        }*/
    }
    
}

@media screen and (min-width: 1052px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 30rem
    }
    .home-first-heading{
        @include font($darkColor, 2.94rem, 2.25rem, normal);
        width: 19.13rem;
        height: 2.94rem;
        /*left: 14.6rem;*/
        right: 7.31rem;
        top: 2.75rem;
    }
}