@media screen and(min-width:700px){
    body{
        padding-left: 6.25rem;
        padding-right: 6.25rem;
    }
    header{
        .logo{
            width: 12.5rem;
            height: 3.13rem;
            margin-bottom: 2.5rem;
        }
    }
    .lightbox-media{
        height: 87.89%;
    }
    #lightbox-btn{
        &__close{
            @include clickable-iconsTR(7.5%, 6.26%, inherit);
            @include font(inherit, 3rem, 3rem, normal);
        }
        &__previous{
            @include clickable-iconsTL(49.2%, 6.9%, inherit);
            @include font(inherit, 3rem, 3rem, normal);
        }
        &__next{
            @include clickable-iconsTR(49.2%, 6.9%, inherit);
            @include font(inherit, 3rem, 3rem, normal);
        }
    }
}

@media screen and (min-width: 800px){
    .home-header{
        flex-direction: row;
        justify-content: space-between;
        width: 70.6%;
        .logo{
            width: 12.5rem;
            height: 3.13rem;
        }
    }
    .detail-header{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .profile{
        background-color: $lightBG;
        width: 100%;
        height: 19.56rem;
        .profile-info{
            &__name{
                @include font($mediumColor, 5.19rem, 4rem, normal);
                margin-top: 3.5rem;
                margin-left: 3.125rem;
                text-align: left;
            }
            &__location{
                @include font($darkColor, 1.94rem, 1.5rem, normal);
                margin-bottom: 1.19rem;
                margin-left: 3.125rem;
            }
            &__quote{
                @include font(#000000, 1.44rem, 1.13rem, normal);
                margin-bottom: .81rem;
                margin-left: 3.125rem;

            }
            &__tags{
                margin-left: 3.125rem;
                ul{
                    justify-content: flex-start;
                    margin-bottom: 2.9rem;
                }
            }
        }
    }
    .profile-tags{
        padding: .05rem;
        padding-left: .3rem;
        padding-right: .3rem;
        @include font($darkColor, 1.44rem, 1.13rem, 500);
        cursor: pointer;
    }
    .profile-image{
        div{
            max-width: 12.5rem;
            max-height: 12.5rem;
            border-radius: $round;
            overflow: hidden;
            img{
                width: 12.5rem;
                height: 12.5rem;
                max-width: 12.5rem;
                background: #C4C4C4;
                box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.25);
                object-fit: cover;
            }
        }
        
    }
    .contact-modal{
        width: 46.46%;
        height: 50rem;
        top: 6.05%;
        left: 26.73%;
        box-shadow: .19rem .19rem .44rem rgba(0, 0, 0, 0.295);
        #modal-btn__close{
            @include w-h(6.28%, 4.66%);
        }
    }
    .recap-infos{
        position: fixed;
        bottom: 0;
        right: 2.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4.56rem;
        width: 23.5rem;
        padding-left: 1.94rem;
        padding-right: 2.13rem;
        border-top-left-radius: $littleRadius;
        border-top-right-radius: $littleRadius;
        background-color: $secondaryColor;
        &__likes{
            @include font(black, 1.95rem, 1.5rem, normal);
            #total-likes__icon{
                color: black;
                line-height: 1.95rem;
                font-size: 1.5rem;
            }
        }
        &__price{
            @include font(black, 1.95rem, 1.5rem, normal);
        }
    }
}

@media screen and(min-width: 900px){
    header{
        nav{
        position: absolute;
        left: 50%;
        max-width: 25rem;
        transform: translateX(-50%);
        margin-top: 0;
        width: 100%;
        }
    }
    .detail-main{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px){
    #medias-section{
        width: 100%;
        margin-top: 6.31rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and(min-width: 1005px){
    .contact-modal{
        width: 46.46%;
        height: 56.25rem;
        top: 6.05%;
        left: 26.73%;
        &__heading{
            @include font(black, 3rem, 3rem, normal);
            text-align: left;
        }
    }
    #modal-form{
        @include font(#312E2E, 2.94rem, 2rem, normal);
        #message{
            height: 10.63rem;
        }
        #submitdata{
            @include buttons(absolute, 88.11%, 5.23%);
            @include w-h(10.63rem, 4.31rem);
            transform: unset;
        }
    }
    .selection-menu{
        display: block;
        margin-top: .56rem;
        align-self: flex-start;
    }
    #sorting-menu-title{
        padding-top: .69rem;
        top: 29.13rem;
    }
    .sorting-menu-container{
        background-color: $darkColor;
        @include font(white, 1.44rem, 1.13rem, normal);
        border-radius: .31rem;
        width: 10.63rem;
        height: 3.75rem;
        border: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 13.6%;
        top: 29.13rem;
        padding: 1.44rem 1.23rem;
    }
    .sorting-menu-btn{
        ul{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }
    .sorting-menu-expanded{
        height: 10.63rem;
        background-color: $darkColor;
        @include font(white, 1.44rem, 1.13rem, normal);
        border-radius: .31rem;
        width: 10.63rem;
        height: 10.63rem;
        border: none;
    }
    #option0{
        cursor: pointer;
    }
    .sorting-options{
        text-align: left;
        li{
            margin-top: .88rem;
            border-top: 1px solid #FFFFFF;
            padding-top: .88rem;
        }
    }
    #option1{
        cursor: pointer;
    }
    #option2{
        cursor: pointer;
    }
    #sorting-menu-chevron{
        color: white;
        top: 1.75rem;
        right: 1.13rem;
        cursor: pointer;
    }
    .sorting-options{
        display: none;
    }
    .options-showed{
        display: block;
        //position: relative;
    }
}


@media screen and (min-width: 1052px){
    header{
        nav{
            left: 43%;
        }
    }
    .home-main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 7.06rem;
    }
    .card{
        width: 23rem;
    }
    .home-first-heading{
        @include font($darkColor, 2.94rem, 2.25rem, normal);
        width: 19.13rem;
        height: 2.94rem;
        right: 7.31rem;
        top: 2.75rem;
    }
}

@media screen and(min-width: 1280px){
    .contact-btn{
        @include buttons(absolute, 57.8%, 65.3%);
        @include w-h(10.63rem, 4.31rem);
    }
}

@media screen and(min-width: 1440px){
    header{
        nav{
            position: absolute;
            left: 22.81rem;
            width: 36.88rem;
            max-width: unset;
            transform: none;
            margin-top: 3.13rem;
            ul{
                width: 100%;
            }
        }
    }
}