@mixin font($color, $line-height, $size, $weight){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-align: center;  
    color: $color;
    line-height: $line-height;
    font-size: $size;
    font-weight: $weight;
}

@mixin w-h($width, $height){
    width: $width;
    height: $height;
}

@mixin buttons($position, $top, $left){
    cursor: pointer;
    position: $position;
    top: $top;
    left: $left;
    background-color: $darkColor;
    border: none;
    border-radius: $littleRadius;
    padding-left: 1rem;
    padding-right: 1rem;
    @include font(white, 1.44rem, 1.13rem, normal);
}

@mixin clickable-iconsTR($top, $right, $color){
    position: absolute;
    cursor: pointer;
    color: $color;
    top: $top;
    right: $right;
}

@mixin clickable-iconsTL($top, $left, $color){
    position: absolute;
    cursor: pointer;
    color: $color;
    top: $top;
    left: $left;
}