@mixin font($color, $line-height, $size, $weight){
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    text-align: center; /*à voir si je dois le passer en argument plus tard*/    
    color: $color;
    line-height: $line-height;
    font-size: $size;
    font-weight: $weight;
}

@mixin w-h($width, $height){
    width: $width;
    height: $height;
}


/*@mixin profile-image($height: 12.5rem, $width: 12.5rem, $position){
        height: $height;
        width: $width;
        object-position: $position;
}*/

@mixin buttons($position, $bottom, $left){
    cursor: pointer;
    position: $position;
    bottom: $bottom;
    left: $left;
    background-color: $darkColor;
    border: none;
    border-radius: $littleRadius;
    padding-left: 1rem;
    padding-right: 1rem;
    @include font(white, 23.44px, 18px, normal);
}

@mixin clickable-iconsTR($top, $right, $color){
    position: absolute;
    cursor: pointer;
    color: $color;
    top: $top;
    right: $right;
}

@mixin clickable-iconsTL($top, $left, $color){
    position: absolute;
    cursor: pointer;
    color: $color;
    top: $top;
    left: $left;
}