.contact-modal{
    display: none;
    width: 100%;
    height: 50.75rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondaryColor;
    z-index: 2;
    border-radius: $littleRadius;
    padding-left: 1.06rem;
    padding-top: 1.25rem;
    &__heading{
        @include font(black, 2.88rem, 2.25rem, normal);
        text-align: left;
    }
    #modal-btn__close{
        @include clickable-iconsTR(1.63rem, 1.63rem, inherit);
        @include w-h(1.13rem, 1.13rem);
        margin-right: 1.06rem;
        #close-btn-cross{
            width: 100%;
            height: 100%;
        }
    }
}
#modal-form{
    height: 100%;
    width: 100%;
    margin-top: 1.63rem;
    margin-right: 20px;
    @include font(#312E2E, 1.94rem, 1.5rem, normal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label{
        margin-bottom: .88rem;
    }
    input{
        width: 100%;
        height: 52px;
        border: none;
        border-radius: $littleRadius;
        margin-bottom: .88rem;
        padding: 1rem;
        font-size: 1rem;
    }
    fieldset{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    textarea{
        width: 100%;
        border: none;
        border-radius: $littleRadius;
        margin-bottom: .88rem;
        padding: 1rem;
        font-size: 1rem;
    }
    #message{
        height: 11.5rem;
    }
    #submitdata{
        @include buttons(absolute, 44.75rem, 50%);
        @include w-h(10.63rem, 2.19rem);
        transform: translateX(-50%);
    }
}