.contact-modal{
    display: none;
    width: 100%;
    height: 812px;
    position: absolute;
    top: 0;
    background-color: $secondaryColor;
    z-index: 2;
    border-radius: $littleRadius;
    padding-left: 17px;
    padding-top: 20px;
    &__heading{
        @include font(black, 46.87px, 36px, normal);
        text-align: left;
    }
    #modal-btn__close{
        @include clickable-iconsTR(26.67px, 26.67px, inherit);
        @include w-h(18.67px, 18.67px);
    }
}



#modal-form{
    height: 100%;
    width: 100%;
    margin-top: 26px;
    margin-right: 20px;
    @include font(#312E2E, 31px, 24px, normal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label{
        margin-bottom: 14px;
    }
    input{
        width: 100%;
        height: 52px;
        border: none;
        border-radius: $littleRadius;
        margin-bottom: 14px;
    }
    #message{
        height: 184px;
    }
    #submitdata{
        @include buttons(absolute, 1.87rem, 50%);
        @include w-h(170px, 35px);
        top: 716px;
        transform: translateX(-50%);
    }
}

