.profile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left : 1.25rem;
    padding-right: 1.25rem;
    position: relative;
    .profile-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__name{
            @include font($mediumColor, 2.9rem, 2.25rem, normal);
            margin-top: 1.8rem;
            text-align: left;
        }
        &__location{
            @include font($darkColor, 1.06rem, .81rem, normal);
            margin-bottom: 0.19rem;
        }
        &__quote{
            @include font(#000000, .81rem, .63rem, normal);
            margin-bottom: 0.19rem;
        }
        &__tags{
            ul{
                justify-content: flex-start;
                margin-bottom: 2.9rem;
                display: flex;
                gap: .31rem;
            }
        }
    }
}

.profile-image{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2.5rem;
    align-items: center;
    div{
        max-width: 6.25rem;
        max-height: 6.25rem;
        border-radius: $round;
        overflow: hidden;
        img{
            width: 6.25rem;
            height: 6.25rem;
            max-width: 6.25rem;
            background: #C4C4C4;
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.25);
            object-fit: cover;
        }
    }
}

.contact-btn{
    @include buttons(fixed, 1.87rem, 50%);
    @include w-h(10.63rem, 2.19rem);
    transform: translateX(-50%);
    z-index: 2;
}