*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'DM Sans', sans-serif;
    background: #ffffff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


ul{
    list-style-type: none;
}

a{
    color: inherit;
}

.profile-info-tags{
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin-right: .3rem;
        }
    }
}

nav{
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin-right: .3rem;
        }
    }
}

button{
    background-color: inherit;
    border: none;
}

fieldset{
    border: none;
}

.sr-only{
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

.logo{
    width: 9.4rem;
    height: 2.3rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2.7rem;
    //padding-left: 1.25rem;
    nav{
    align-self: center;
    display: flex;
    align-items: center;
    width: 17.8rem;
    height: 3.1rem;
    margin-top: 1.6rem; //-2rem;
    margin-right: 3.19rem;
    margin-bottom: 3.1rem;
    margin-left: 1.2rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenreader-text, .title, .desc{
    display: none;
}

.home-first-heading{
    @include font($darkColor, 1.13rem, .86rem, normal);
    position: absolute;
    width: 7.4rem;
    height: 1.1rem;
    /*left: 14.6rem;*/
    right: 1.4rem;
    top: 3.1rem;
}

/*.hidden-toggle{
    display: none;
}*/
.selection-menu{
    display: none
}

/*.sorting-menu-title{
        display: none
}
#sorting-menu-btn{
       display: none
}
.sorting-options{
    display: none
}*/

.recap-infos{
    display: none;
}