@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/*COLOURS*/
/*VALUES*/
/*@mixin tag-link($width){
    display: inline-block;
    border: .03rem solid #C4C4C4; = 0.5px
    box-sizing: border-box;
    border-radius: 11px;
    padding: .05rem;
    width: $width;
    @include font($darkColor, 1rem, .75rem, 500);
}*/
.card {
  max-width: 32.87rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*width: 12.5rem;*/
  height: 19.4rem;
  margin-bottom: 3rem;
}
.card .card-profile a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card .card-profile figure {
  max-width: 12.5rem;
  max-height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.card .card-profile__img {
  width: 12.5rem;
  height: 12.5rem;
  max-width: 12.5rem;
  background: #C4C4C4;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
  object-fit: cover;
  /*border-radius: $round;*/
}
.card .card-profile__name {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #D3573C;
  line-height: 2.9rem;
  font-size: 2.25rem;
  font-weight: normal;
}
.card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 32.87rem;
}
.card .card-info__location {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 1.06rem;
  font-size: 0.81rem;
  font-weight: normal;
  margin-bottom: 0.19rem;
}
.card .card-info__quote {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #000000;
  line-height: 0.81rem;
  font-size: 0.63rem;
  font-weight: normal;
  margin-bottom: 0.19rem;
}
.card .card-info__price {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #757575;
  line-height: 0.75rem;
  font-size: 0.56rem;
  font-weight: normal;
  margin-bottom: 0.38rem;
}
.card .card-tags ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.tags-links {
  display: inline-block;
  border: 0.03rem solid #C4C4C4;
  /*= 0.5px*/
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.05rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul li {
  margin-right: 0.3rem;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.logo {
  width: 9.4rem;
  height: 2.3rem;
}

.home-first-heading {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  text-align: center;
  /*à voir si je dois le passer en argument plus tard*/
  color: #901C1C;
  line-height: 1.13rem;
  font-size: 0.86rem;
  font-weight: normal;
  position: absolute;
  width: 7.4rem;
  height: 1.1rem;
  /*left: 14.6rem;*/
  right: 1.4rem;
  top: 3.1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2.7rem;
  padding-left: 1.25rem;
}
header nav {
  align-self: center;
  display: flex;
  align-items: center;
  width: 17.8rem;
  height: 3.1rem;
  margin-top: 2rem;
  margin-right: 3.19rem;
  margin-bottom: 3.1rem;
  margin-left: 1.2rem;
  /*#tag-link{
      &--portrait{
          @include tag-link(4.3rem);
      }
      &--art{
          @include tag-link(2.5rem);
      }
      &--fashion{
          @include tag-link(4.25rem);
      }
      &--architecture{
          @include tag-link(5.75rem);
          margin-right: 0;
      }
      &--travel{
          @include tag-link(3.63rem);
          margin-top: .31rem;
      }
      &--sport{
          @include tag-link(3.44rem);
          margin-top: .31rem;
      }
      &--animals{
          @include tag-link(4.06rem);
          margin-top: .31rem;
      }
      &--events{
          @include tag-link(3.94rem);
          margin-right: 0;
          margin-top: .31rem;
      }
  }*/
}

/*#card1{
    .card-profile__img{
        @include profile-image(25rem, 25rem, -3.1rem -5rem);
    }
    #mimi-tag1{
        @include tag-link(4rem);
    }
    #mimi-tag2{
        @include tag-link(3.68rem);
    }
    #mimi-tag3{
        @include tag-link(3.38rem);
    }
    #mimi-tag4{
        @include tag-link(3.88rem);
        margin-right: 0;
    }
}

#card2{
    #ellie-tag1{
        @include tag-link(3.6rem);
    }
    #ellie-tag2{
        @include tag-link(5.5rem);
        margin-right: 0;
    }
}

#card3{
    .card-profile__img{
        @include profile-image(40.6rem, 40.6rem, -9.4rem -11.9rem);
    }
    #tracy-tag1{
        @include tag-link(2.44rem);
    }
    #tracy-tag2{
        @include tag-link(3.81rem);
    }
    #tracy-tag3{
        @include tag-link(3.38rem);
        margin-right: 0; 
    }
}

#card4{
    .card-profile__img{
        @include profile-image(40.63rem, 40.63rem, -9.38rem -12.2rem);
    }
    #nabeel-tag1{
        @include tag-link(3.25rem);
    }
    #nabeel-tag2{
        @include tag-link(4.2rem);
        margin-right: 0;
    }
}

#card5{
    .card-profile__img{
        @include profile-image(46.9rem, 46.9rem, -7.5rem -5rem);
    }
    #rhode-tag1{
        @include tag-link(3.2rem);
    }
    #rhode-tag2{
        @include tag-link(3.75rem);
    }
    #rhode-tag3{
        @include tag-link(3.5rem);
    }
    #rhode-tag4{
        @include tag-link(3.9rem);
        margin-right: 0;
    }
}

#card6{
    .card-profile__img{
        @include profile-image(25rem, 25rem, -12.5rem -5rem);
    }
    #marcel-tag1{
        @include tag-link(3.31rem);
    }
    #marcel-tag2{
        @include tag-link(5.5rem);
    }
}*/
/*700px
remonter la nav au mm niveau que le logo et le h1*/
@media screen and (min-width: 700px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    width: 70.6%;
  }
  header .logo {
    width: 12.5rem;
    height: 3.13rem;
  }
  header nav {
    margin-right: auto;
    margin-top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1052px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 30rem;
  }

  .home-first-heading {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    text-align: center;
    /*à voir si je dois le passer en argument plus tard*/
    color: #901C1C;
    line-height: 2.94rem;
    font-size: 2.25rem;
    font-weight: normal;
    width: 19.13rem;
    height: 2.94rem;
    /*left: 14.6rem;*/
    right: 7.31rem;
    top: 2.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
